<h1>Building Your Azure Skills Toolkit Demo Application</h1>
<p>This app was built as part of a lab exercise from edX DEV224x course. It showcases the following elements:</p>
<ul>
    <li>an application with <a href='https://get.asp.net/'>ASP.NET Core</a> backend and <a href='https://angular.io/'>Angular</a> frontend</li>
    <li>being deployed via CI to Azure as a <a href='https://docs.microsoft.com/en-us/azure/app-service/'>Web App</a> (PaaS)</li>
    <li>integration with <a href='https://docs.microsoft.com/en-us/azure/storage/'>Azure Storage</a></li>
    <li>secure design by default ;)</li>
    <li>integration with <a href='https://docs.microsoft.com/en-us/azure/cognitive-services'>Cognitive Services</a> (<em>Bing Search</em>, <em>Computer Vision</em>)</li>
    <li>integration with <a href='https://docs.microsoft.com/en-us/rest/api/searchservice/'>Azure Search</a></li>
</ul>